* {
    box-sizing: border-box;
    font-family: arya, calibri;
  }

  body {
    background: #f7dcdc;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .tab {
    display: flex;
    overflow: hidden;
  }

  .tablinks {
    background-color: #fff;
    width: 25.555%;
    border: none;
    padding: 1rem 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }

  .tablinks i
  {
    font-size: 1.4rem;

  }


  .tabcontent {
    background: #fff;
    max-width: 600px;
    display: none;
    padding: 0.8rem 1rem;
  }

  .tabcontent h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;

  }

  .tabcontent p {

    letter-spacing: 1px;
    font-size: 0.9rem;
    color: purple;
  }

  .active {
    background-color:blueviolet;
    color: #fff;
  }